.description{

    margin-top: 20px;

    > div{
        display: flex;
        justify-content: start;
    }
}

.panel{

    font-weight: bold;
}

.panelLabel{
    font-weight: bold;
    color: #2B3445;
}

.cardsContainer{
    display: flex;
    margin-top: 10px;
    svg{
        margin-left: 10px;
        fill: #B4B4B4;
        width: 24px;
        height: 24px;
    }
}
