.description{

    font-size: 12px;

    > div{
        display: flex;
        justify-content: start;
    }
}

.panel{

    font-weight: bold;
}

.panelLabel{
    font-weight: bold;
    color: #2B3445;
}
