.bg{
    background: #004AC1;
    width: 100%;
    height: 90px;
}

.logoContainer{
    padding-left: 20px;
}

.btnsContainer{
    button{
        height: 50px;
    }
}

.btns{

    > *{
        margin: 10px;
    };
    button{
        width: 120px;
        height: 60px;
    }
    
}

.btn2{
    color: #FFD300;
    background: #004AC1;
    border: none;

}

.icon{
    fill: black;
    width: 24px;
    height: 24px;

}

.iconContainer{
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}


.circleContainer{
    position: relative;
}

.circle{
    background-color: #D2AE00;
    position: absolute;
    right: -100px;
    top: -60px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    color: white;
    h2{
        transform: rotate(40deg);
        position: absolute;
        bottom: 60px;
        font-size: 30px;
        font-weight: normal;
        left: 14px;
    }
    h3{
        transform: rotate(40deg);
        position: absolute;
        font-weight: normal;
        font-size: 20px;
        bottom: 90px;
        left: 45px;
    }
    
}

.menu{
    background-color: #FFFFFF;
    height: 50px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.menuOption{
    font-family: 'Open Sans';
    margin-left: 16px;
    color: #2B3445;
}

.menuOption:hover{
    font-weight: bolder;
    color: #013E9B;
}