.calculate{
    background-color: #FFFFFF;
}

.tittle, .price, .smile_face, .btn, .terms{
    display: flex;
    justify-content: center;
}

.tittle{
    color: #2B3445;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price{
    color: #2B3445;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: -6px;
}

.slice{
    margin-top: 30px;
}

.text{
    text-align: start;
    color: #2B3445;
    font-size: 14px;
}

.btn{
    margin-top: 16px;
   button{
        color: #004AC1;
        background-color: #FFD300;
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        padding: 10%;
    }
    
}

.terms{
    margin-top: 8px;
    color: #B4B4B4;
    font-size: 8px;
    font-weight: normal;
}

.smile_face{
    fill: #004AC1;
    width: 50px;
    height: 50px;

}

.creditContainer{

    height: 400px;
    background-image: url('/src/assets/img/CreditBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.calculate{
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 290px;
    width: 250px;
    height: 340px;
}

.letter{
    position: absolute;
    top: 120px;
    left: 40px;
    z-index: 1;
}

.letterIl{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    margin-bottom: 6px;
    svg{
        fill: #A2D456;
        width: 24px;
        margin-right: 8px;
    }
}